button {
  height: 32px;
  width: 32px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
  background-image: url(images/waver32.png);
}

button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}